<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns = "http://www.w3.org/ns/widgets"
    xmlns:gap = "http://phonegap.com/ns/1.0"
    id        = "com.jianguo.mealsonwheels"
    versionCode="1"
    version   = "1.0.1">
    <name>美食宅急送</name>
    <description>
        This is a food delivery app.       
    </description>
    <author href="www.jianguo.com.au" email="info@jianguo.com.au">
        Jian Guo
    </author>
    <preference name="phonegap-version" value="3.5.0" />
    <preference name="orientation" value="portrait" /> 
    <preference name="target-device" value="handset" />
    <preference name="webviewbounce" value="true" /> 
    <preference name="stay-in-webview" value="true" />

    <preference name="android-targetSdkVersion" value="14" />


    <gap:platform name="ios" />
    <gap:platform name="android" />


     
    <!-- you can use any density that exists in the Android project -->

    <gap:splash gap:platform="android" src="res/screens/android/screen-hdpi-portrait.png" gap:density="port-hdpi"/>
    <gap:splash gap:platform="android" src="res/screens/android/screen-ldpi-portrait.png" gap:density="port-ldpi"/>
    <gap:splash gap:platform="android" src="res/screens/android/screen-mdpi-portrait.png" gap:density="port-mdpi"/>
    <gap:splash gap:platform="android" src="res/screens/android/screen-xhdpi-portrait.png" gap:density="port-xhdpi"/>


    
    <!-- images are determined by width and height. The following are supported -->
    <gap:splash gap:platform="ios" src="res/screens/ios/screen-iphone-portrait.png" width="320" height="480"/>
    <gap:splash gap:platform="ios" src="res/screens/ios/screen-iphone-portrait-2x.png" width="640" height="960"/> 
    <gap:splash gap:platform="ios" src="res/screens/ios/screen-iphone-portrait-568h-2x.png" width="640" height="1136"/>
    

    <preference name="SplashScreenDelay" value="20000" />
</widget>

