<!-- 
  Create tabs with an icon and label, using the tabs-positive style. 
  Each tab's child <ion-nav-view> directive will have its own 
  navigation history that also transitions its views in and out.
--><ion-tabs class="tabs-icon-top"><!-- Pets Tab --><ion-tab title="首页" icon="icon ion-ios7-home-outline" href="#/tab/home"><ion-nav-view name="tab-home"></ion-nav-view></ion-tab><!-- Adopt Tab --><ion-tab title="订单" icon="icon ion-ios7-compose-outline" href="#/tab/orders"><ion-nav-view name="tab-orders"></ion-nav-view></ion-tab><!-- About Tab --><ion-tab title="设置" icon="icon ion-ios7-gear-outline" ng-click="gotoSettings()"><ion-nav-view name="tab-account"></ion-nav-view></ion-tab></ion-tabs>